# Cache des images — 1 an
<FilesMatch "\.(webp|jpg|jpeg|png|gif|svg|ico)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# Cache CSS et JS — 1 mois
<FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# Compression GZIP
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css application/javascript
</IfModule>

<FilesMatch "\.(woff2|woff|ttf|eot)$">
    Header set Cache-Control "max-age=31536000, public"
</FilesMatch>